@import url('https://rsms.me/inter/inter.css');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 1em;
    font-style: normal;
    border: 0;
    text-decoration: none;
    list-style-type: none
}

*:focus {
    outline: none;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    cursor: auto;
    height: 100%;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222222;
    background: #F4F4F4;
}

h1, h2 {
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 1rem;
}

em {
    font-style: normal;
    color: white;
    background: black;
    padding: 0.05rem 0.125rem 0.125rem;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

body>main {
    padding: 2.5rem 3.333rem;
    max-width: 46rem;
}

body>main>p,
body>main>ul {
    margin-bottom: 1rem;
}

body>main>ul>li:before {
    content: "→ ";
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}
